<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmQUYE4ohPR8iTuvVaRo4nojuN6Vc1Xpc</string>
	<key>GCM_SENDER_ID</key>
	<string>991013606311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ProjectWork.GymApp-Login</string>
	<key>PROJECT_ID</key>
	<string>gymlogin-1de46</string>
	<key>STORAGE_BUCKET</key>
	<string>gymlogin-1de46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991013606311:ios:89fc535eda5d045859dc82</string>
</dict>
</plist>